<ng-container *ngIf="show">
    <div class="backdrop"></div>

    <div id="loader-wrapper">
        <div class="flex-box-spinner">
            <div id="loader"> </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
            <img src="https://raw.githubusercontent.com/team-turtles-h4g/h4g-limo/main/limo-icon.png" class="logoimg">
        </div>
    </div>

    <div class="full-loader-text">
        <p *ngIf="message">{{message}}</p>
    </div>
</ng-container>